{% extends 'base.html.twig' %}

{% block title %}
<h1> Home Page</h1>
{% endblock %}

{% block content %}
    {% for product in products %}
        <div class="card mt-5 mx-auto col-4" >
            <img src="https://images6.alphacoders.com/909/thumb-1920-909641.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ product }}</h5>
                <a href="#" class="btn btn-info">I'm Pickle Riiiiick</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}